<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
        <title>SEMICOLON</title>
</head>
<body>
    <header>
        <a href="#" class="logo">SEMICOLON</a>
        <nav class="navigation">
            <a href="#services">Services</a>
            <a href="drstone.html">Dr. Stone</a>
            <a href="chat.html">Semicolon Chat</a>
            <a href="mailto:">Contact</a>
        </nav>
    </header>

    <section class="main">
        <div>
            <h2>Welcome to Semicolon <br><span>Semicolon Team</span></h2>
            <h3>Here you find everything you need</h3>
            <a href="/drstone" class="main-btn">Go to Dr. Stone</a>
            <div class="social-icons">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
    </section>

    <section class="cards" id="services">
        <h2 class="title">Services</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="info">
                    <h3>Web Developer</h3>
                    <p>Programming and web development using: HTML, CSS, JS</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa-brands fa-java"></i>
                </div>
                <div class="info">
                    <h3>Java</h3>
                    <p>Writing code professionally in the Java language</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-code"></i>
                </div>
                <div class="info">
                    <h3>Problem Solving</h3>
                    <p>Practice and study to solve programming problems</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>